.container{
    width:100%;
    min-height: 100vh;
    background-color: #121212;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 7.5rem;
}

.logo{
    max-width: 350px;
    border-radius: 5rem;
    
}

.title{
    color: #FFF;
    margin: 0.875rem 0;
}

.category-area{
    display:flex;
    gap:0.875rem;
    margin-bottom: 2.125rem;
}

.category-button{
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-frase{
    background-color: #3f9509;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 1rem;
}

.textoFrase{
    width: 26.25rem;
    background-color: #fafafa;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.875rem 1.375rem;
    margin: 1.5rem 0 1rem 0;
    color: rgb(0, 255, 26);
    background-color:  #121212;  
}

@media(max-width: 768px){
    .logo{
        max-width: 80%;
    }
}